
.back-color{
    background-color: #0E0A2A;
}
.logo{
    background-image: url("../../images/banner.jpg");
    height: 280px;
    opacity: 0.7;
}
.logo img{
    width: 30%;
    margin-left: 330px;
    padding: 100px;
}
.detail-container{
    margin-left: 80px;
    border: 1px solid #0E0A2A;
    width: 900px;
    height: 250px;
    background-color: #3A42FF;
    border-radius: 8px;
    display: flex;
}
.details{
    color: white;
    font-weight: 600;
    margin-left: 10px;
    padding: 5px;
    width: 400px;
}
.gender-condition{
    width: 500px;
    overflow: 100%;
}
.gender-condition img{
    width: 70%;
    
}
.description{
    margin-left: 80px;
    width: 900px;
    color: white; 
}
.social h2{
    color: white;
}