
.container{
    background-color: #0E0A2A;
}
.logo{
    background-image: url("../../images/banner.jpg");
    height: 280px;
    opacity: 0.7;
}
.logo img{
    width: 30%;
    margin-left: 330px;
    padding: 100px;
}
.detail-container{
    margin-left: 80px;
    border: 1px solid #0E0A2A;
    width: 900px;
    height: 250px;
    background-color: #3A42FF;
    border-radius: 8px;
    display: flex;
}
.details{
    color: white;
    font-weight: 600;
    margin-left: 10px;
    padding: 5px;
    width: 450px;
    text-align: justify;
}
.gender-condition{
    width: 500px;
}
.gender-condition img{
    width: 80%;
    height: auto;
    margin: 14px 5px 5px 80px ;
}
.description{
    margin-left: 80px;
    width: 900px;
    color: white; 
}

.social h2{
    color: white;
}
.back{
    margin-top: 30px;
    height: 150px;
}
.button{
    width: 220px;
    padding: 5px;
    border: none;
    background-color: orange;
    color: black;
    border-radius: 8px;
    font-weight: 500;
    transition: 1s;
    margin-right: 5px;
 
}
.button:hover{
    background-color: rebeccapurple;
    color: white;
}
.icon{
    margin: 0 5px 0 5px;
    font-size: 20px;
    
}