
.detail-container {
    background-color: rebeccapurple;
}
.detail-banner{
    background-image: url("../../images/banner.jpg");
    height: 280px;
    filter: opacity(0.4);
}
.logo img{
    width: 15%;
    height: 200px;
}
.details{
    border: 1px solid #0E0A2A;
    background-color: #0E0A2A;
    border-radius: 8px;
    display: flex;
    box-shadow: 5px 5px 5px #0E0A2A;
}
.detail{
    color: dimgrey;
    padding: 5px;
    width: 450px;
    text-align: justify;
}
.detail-icon{
    color: goldenrod;
    margin: 0 5px 0 5px;
    font-size: 20px;
}
.gender-condition{
    width: 500px;
}
.gender-condition img{
    width: 80%;
    margin: 20px 5px 5px 120px ;
}
.description{
    width: 800px;
    color: whitesmoke; 
}

.connect-area h4{
    color: whitesmoke;
}
.social-icon{
    font-size: 35px;
    margin-right: 10px;
}
.facebook{
    color: skyblue;
}
.twitter{
    color: #1DA1F2;
}
.instagarm{
    color: blue;
}
.youtube{
    color:#FF0202 ;
}
.website{
    color: blue;
}
.back{
    height: 110px;
}
.button{
    width: 250px;
    padding: 6px;
    border: none;
    background-color: orange;
    color: black;
    border-radius: 8px;
    font-weight: 500;
    transition: 1s;
    cursor: pointer;
}
.button:hover{
    background-color: tomato;
    color: white;
}
.button-icon{
    margin: 0 5px 0 5px;
    font-size: 20px;
}