
.funny-pic img{
    width: 25%;
    height: 230px;
    
}
.funny-pic {
    display: flex;
    
}
.error{
    padding: 100px;
    width: 300px;
    box-shadow: 5px 5px 10px skyblue;
    text-align: center;
    font-weight: 900;
}
.error h2{
    color: orangered;
}
.error h4{
    color: orange;
}