
.header-container{
    background-color:  whitesmoke;
}
.banner{
    background-image: url("../../images/banner2.jpg");
    height: 270px;
}
.banner h1{
    color:cyan;
    text-align: center;
    padding: 130px;
    font-weight: 600;
}
.team-container{
    display: grid; 
    grid-template-columns: repeat(3,1fr);
     grid-gap: 10px;
}